@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Poppins:wght@300;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7ff;
}

html,body{
    overflow-x: hidden;
}
::-webkit-scrollbar{
    display: none;
}
li {
    list-style: none;
}
.mg {
 margin: 10% 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color : #1F2278;
    --orange-color : #F17732;
    --btn-color : #565acf;

}

section, footer, header {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: 100%;
    padding: 25px 0px;
    margin-top: 50px;
}

a{
    text-decoration: none !important;
}

span {
    list-style-type: none ;
}

button {
    text-align: center;
    box-sizing: border-box;
    height: 40px;
    border-radius: 4px;
}

p {
    line-height: 28px;
}

input {
    box-sizing: border-box;
    border: 1px solid #fff;
    text-align: left;
    padding: 5px 15px ;
    color: #333;
    font-size: 16px;
    font-family: 'Tajawal';
}